body{
    background-color: rgb(234, 234, 234);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pomodoro{
    color: rgb(255, 46, 99);
}
span{
    font-size: xx-large;
    font-weight: 900;
}

    
button{
    position: relative;
    border: none;

    background-color: rgb(234, 234, 234);
    color: rgb(255, 46, 99);
}
.Sessionup{
    font-size: xx-large;
}
.Sessiondown{
    font-size: xx-large;
}