@font-face {
  font-family: 'segoe_ui-semibold';
  src: url(../assets/fonts/segui-semi-bold-regular.ttf);
}

@font-face {
  font-family: 'segoe_ui-black';
  src: url(../assets/fonts/segui-black.ttf);
}

@font-face {
  font-family: 'segoe_ui';
  src: url(../assets/fonts/SegoeUI.ttf);
}

body{
  margin: 0;
  padding: 0;
  font-family: 'segoe_ui', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  /* font-family: 'segoe_ui-black' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   */
  background-color: rgb(17, 24, 39);
  color: white;
}






body{
  padding: 0px 10px;
  /* margin-top: 200px; */
  margin: 0px 80px;
  font-size: 18px;
}

.faqContainer{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  align-items: start;
}

.faqContainer h2{
  font-size: 22px;

}

.answer{
  font-size: 17px;
}

.answer span{
  text-decoration: underline;
}

h1{
  text-align: center;
}

.question{
  font-size: 32px;
}
  

.feature_containers{
  display: grid;
  grid-template-columns: 400px 400px;
  /* grid-template-rows: 2; */
}

.feature_container1{
  width: 310px;
  height: 550px;
  border: 1px solid rgb(168, 85, 247);
  border-radius: 12px;
}

.feature_containers li{
  margin: 10px;
  color: rgb(209, 213, 219);
  list-style-type: '✔';
  padding-inline-start: 1ch;
}