*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.forest{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9){
  .forest{
    width: 100%;
    height: auto;
  }
} 
@media (max-aspect-ratio:16/9){
  .forest{
    width: auto;
    height: 100%;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
