* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

body{
  width: 100%;
  height: 100%;
  background: white;
}

.container{
  margin: 160px auto 0;    /* top leftRight bottom*/
  max-width: 450px;
  padding: 30px 40px 40px; 
  /* background-color: rgb(234,234,234); */
  background-color: rgb(17, 24, 39);
  border-radius: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
}

.todo-app h2{
  /* color: rgb(255,46,99); */
  color: rgb(145, 49, 231);
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.input-text{
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}

.add-button{
  outline: none;
  border: none;
  background: rgb(145, 49, 231);
  padding: 16px 40px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

ul li{
  list-style: none;
  padding: 12px 8px 12px 50px;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
 position: relative; 
}

ul li::before{
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(assets/unchecked.png);
  background-size: cover;
  background-position: center;
  left: 10px;
  top: 10px;
}
 
ul li.checked{
  color: rgb(145, 49, 231);
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(assets/check.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  background-color: rgb(37,42,52);
  color: white ;
  font-weight: bold;
}

ul li span:hover{
  color: white;
  background-color: rgb(145, 49, 231);
  transition: .4s;
}

li{
  color: white;
}